<nav class="container" id="menuBar">
    <div id="currentUser">
        <div class="user-field" id="pictureBox">
            <img src="assets/images/img_account.png" id="photoMenu" alt="Foto">
        </div>
        <div class="user-field" id="userInfo">
            <span id="userFullName">Matheus Ferreira Alves</span>
            <span id="userType">Administrador</span>
        </div>
        <div id="userSubMenu">
            <ul class="container">
                <li>
                    <a href="usuarios.html">
                        <span class="material-icons">group_add</span>
                        <span>Usuários</span>
                    </a>
                </li>
                <li>
                    <a href="perfil.html">
                        <span class="material-icons">account_circle</span>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <span class="material-icons">logout</span>
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>