* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

a {
    all: unset;
}

ul {
    list-style-type: none;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.5);
}

#menuBar {
    height: 50px;
    margin-bottom: 10px;

    display: flex;
}

#currentUser {
    padding-left: 10px;
    width: 300px;

    display: flex;
    align-items: center;
}

#currentUser:hover {
    cursor: pointer;
    background-color: rgba(125, 125, 125, 0.2);
}

.user-field {
    padding: 0px 5px;
}

.user-field #pictureBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentUser img {
    position: relative;
    object-fit: contain;
    
    margin: auto;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 40px;
    height: 40px;
}

#userInfo {
    display: flex;
    flex-direction: column;

    margin: 3px 0px;
}

#userFullName {
    font-size: 14px;
}

#userType {
    font-size: 12px;
    color: #6C6C6C;
}

#userSubMenu {
    top: 50px;
    left: 25px;
    position: absolute;

    width: 250px;
    height: auto;

    padding-top: 10px;

    transform: scale(1, 0);
    -webkit-transition: transform 0.1s ease;
    -moz-transition: transform 0.1s ease;
    -o-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    transform-origin: top center;
}

#currentUser:hover #userSubMenu, #userSubMenu:hover {
    transform: scale(1, 1);
}

#userSubMenu ul {
    border-radius: 8px;
}

#userSubMenu li {
    border-bottom: var(--default-border-bottom);
    color: #6C6C6C;
    font-size: 14px;
}

#userSubMenu li:first-child {
    border-radius: 8px 8px 0px 0px;
}

#userSubMenu li:last-child {
    border-radius: 0px 0px 8px 8px;
    border-bottom: none;
}

#userSubMenu li:hover {
    background-color: rgba(125, 125, 125, 0.2);
    color: black;
}

#userSubMenu li a {
    height: 30px;
    
    display: flex;
    align-items: center;
}

#userSubMenu .material-icons {
    margin-left: 10px;
    margin-right: 10px;
}